<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mg">

    <application
        android:allowBackup="true"
        android:icon="@drawable/matutoo"
        android:label="Matuto Gamer"
        android:roundIcon="@drawable/matutoo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivityOptions"
            android:label="Opções"
            android:parentActivityName=".Menu_Principal"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".Recuperar_Senha2"
            android:label="Recuperar Senha"
            android:parentActivityName=".Recuperar_Senha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Recuperar_Senha"
            android:label="Recuperar Senha"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Finish_Activity"
            android:label="Ranking"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_Game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu_Principal"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>